@media screen and (min-width:550px) {
   
    .input {
        width: 450px;
    }
    .stats{
        width: 90%;
        height: 180px;
    
    }
    .prop{
        width: 25%;
        height:auto;
        border-right: 1px solid #ccc;
        display: block;
        padding: 0px 10px 0px 10px;
  
    
    }
    .prop p{
        padding-bottom: 30px;
        height: 50px;
        line-height: 30px;
    }
    .social-media{
        width: 300px;
        display: flex;
        justify-content: space-evenly;
    }
    
    
    

}